body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

legend {
    font-weight: bold;
    text-align: center;
}

.group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 100px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 500px;
    background-color: #f9f9f9;
    padding: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
}

@media (max-width: 600px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        width: auto;
        margin-bottom: 5px;
    }

    button[type="submit"] {
        padding: 15px;
    }
}


textarea {
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;

}

button[type="submit"]:hover {
    background-color: #45a049;
}

