body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: cadetblue;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.item {
    background-color: lightblue;
    border: thin solid #000;
}