body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    background-color: #555;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

nav ul li a.active {
    background-color: #f90;
}

.tour-list li {
    list-style-image: url('images/custom-bullet.png');
}

body {
    background-image: url('Philippines.webp');
    background-repeat: repeat-x; /* or repeat-y */
}

main {
    background-image: url('Philippines.webp');
    background-position: right;
    background-repeat: no-repeat;
}