body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url('sky.jpg');
    background-repeat: repeat;
    color: #2e8b57;
}

header {
    text-align: center;
    padding: 30px;
    color: #556b2f;
}

nav {
    background-color: #4b5320;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #f0e68c;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    font-weight: bold;
    color: #ffd700;
}

.pelepens {
    list-style-image: url(woww.jfif);
}

.logo {
    background-position: right;
    background-image: url(Puerto_Princesa_city_seal.svg.png); 
    background-repeat: no-repeat;
}

main {
    padding: 20px;
    background-color: #f5f5dc;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6b8e23;
    color: #f5deb3;
    position: relative;
    bottom: 0;
    width: 100%;
}
