body {
    font-family: Arial, Helvetica, sans-serif;
}

.schedule {
    margin: 5px auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

.schedule thead {
    background-color: darkblue;
    color: white;
}

.schedule tbody tr:nth-child(even) {
    background-color: #bbb;
}

.schedule tfoot {
    background-color: darkblue;
    color: white;
}